In [1]:
import numpy as np
import pandas as pd
from sklearn import neighbors,model_selection

In [2]:
df =pd.read_csv("breast-cancer-wisconsin.data")
df.replace("?",-99999,inplace=True)
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [3]:
df.drop(columns="id",inplace=True)
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [4]:
X = df[df.columns[:-1]].to_numpy()
y = df["class"].to_numpy()
print(X.shape,y.shape)

(699, 9) (699,)

In [5]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X,y,test_size=0.2)

In [6]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train,y_train)

accuracy = clf.score(X_test,y_test)
print(accuracy)

0.9714285714285714

In [7]:
example_measures = np.array([4,2,1,1,1,2,3,2,1])
example_measures = example_measures.reshape(1, -1) #this was suggested to enter a single sample as 2D array
prediction = clf.predict(example_measures)
print(prediction)

[2]

In [8]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1],[4,2,1,9,5,2,3,2,1]])
prediction = clf.predict(example_measures)
print(prediction)

[2 2]